#cloud {
  width: 90%;
  height: 90%;
}

#wrapper {
  width: 100vw;
  height: 100vh;
  margin: auto;
  position: relative;
}
#share {
  width: 90%;
  height: 90%;
  position: absolute;
  z-index: 1;
}
body {
  background-color: #292d27;
}

.cloudSearch {
  background: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  color: #ffff;
}

.cloudSearch:focus {
  background: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  box-shadow: none;
  color: #ffff;
}

.searchField {
  padding-left: 10px;
}

#submitSearch {
  color: white;
  background: transparent;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

@media screen and (min-width: 813px) {
  #submitSearch {
    display: none;
  }
}

@media screen and (orientation: portrait) {
  #turnPhone {
    color: white;
    background-color: #000;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    position: fixed;
  }
  #phoneIcon {
    -webkit-filter: invert(100%);
    /* safari 6.0 - 9.0 */
    filter: invert(100%);
    width: 50%;
    height: auto;
  }
  #phoneWrap {
    padding-top: 30vh;
  }
}

@media screen and (orientation: landscape) {
  #phoneWrap {
    display: none;
  }
}

#backToTop {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  cursor: pointer;
  display: none;
  color: #fff;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 0;
  z-index: 2;
}
#copyLink {
  padding: 3px;
  font-size: 2em;
}
